* {
    /* background-color: #ccc; */

}

.background-img {

    object-fit: none;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    height: 350px !important;
    border-radius: 0px 0px 10px 10px !important;



}

.parentDiv {
    /* background-color: rgb(243, 243, 243); */
    height: 50vh;
    position: absolute;
    width: 100%;
}

.background-img {
    background: rgb(235, 233, 218);
    background: linear-gradient(90deg, rgba(235, 233, 218, 1) 0%, rgba(177, 199, 198, 1) 42%, rgba(209, 231, 181, 1) 97%);

}

.profile-div {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 80px;
    left: -110px;
    /* box-sizing: border-box; */
    /* background-color: rgba(170, 190, 190, 0.212); */
    /* width: 600px; */
}

.profile-img {
    object-fit: cover;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    height: 200px !important;
    width: 200px !important;
    border-radius: 50%;
    /* position: relative; */
    /* top: -70px; */
    /* left: 280px; */
    border: 6px solid rgb(250, 250, 250);
}

.user-name {
    /* position: relative;
    top: -180px; */
    /* left: 600px; */
    /* width: 100%; */
    margin: 70px 0px 120px 10px;
    color: rgb(24, 24, 24) !important;
    padding: 16px;
    border-radius: 50px;
    /* background: rgb(235, 233, 218);
    background: linear-gradient(90deg, rgba(235, 233, 218, 0.356) 0%, rgba(177, 199, 198, 0.356) 42%, rgba(209, 231, 181, 0.349) 97%); */
    margin-bottom: 200px;
    text-align: center;
    width: 290px;
}

.emailHead {
    /* margin: 0 !important; */
}